<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">


    <link rel="stylesheet" href="/css/colaborador.css">
</head>
<body>

    <!-- HEADER -->
    <div class="header">
        <div class="logo-container">
            <img src="/img/logobrancagsc.png" alt="Logo GrupoSC" class="logo">
        </div>
        <nav class="navbar">
            <a href="/" class="back-icon">
                <span>Clique para voltar</span>
                <img src="/img/back.png" alt="Voltar">
            </a>
        </nav>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="title">
            Bem-vindo, Novo Colaborador!
        </div>
        <div class="section">
            <h2>Manuais e Guias</h2>
            <ul>
                <li><a href="/manuais/" target="_blank">Guia de Boas-Vindas</a></li>
                <li><a href="/manuais/" target="_blank">Políticas da Empresa</a></li>
                <li><a href="/manuais/" target="_blank">Manual do Colaborador</a></li>
            </ul>
        </div>

        <div class="section">
            <h2>Manuais de Treinamento</h2>
            <ul>
                <li><a href="" target="_blank">Treinamento de Integração</a></li>
                <li><a href="" target="_blank">Manuais por Setores</a></li>
            </ul>
        </div>

        <div class="section">
            <h2>Suporte e Contato</h2>
            <ul>
                <li><a href="">CSC - Central de Serviços ao Colaborador</a></li>
                <li><a href="">Recursos Humanos</a></li>
                <li><a href="">Suporte Técnico</a></li>
            </ul>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="footer">
        <p>&copy; 2024 Desenvolvido pelo Suporte TI - Regional Sudeste.</p>
    </div>

</body>
</html>
